
<simple-notifications [options]="options"></simple-notifications>
<router-outlet></router-outlet>
<!--<survey [model]="surveyModel"></survey>-->
<!--<mat-toolbar>-->
<!--  <mat-toolbar-row><button mat-icon-button="">-->
<!--    <mat-icon>menu</mat-icon></button>-->
<!--    <mat-menu menu="matMenu"><button>-->
<!--      <mat-icon>home</mat-icon>-->
<!--      <span>Home</span></button><button>-->
<!--      <mat-icon>storefront</mat-icon>-->
<!--      <span>Shop By Categories</span></button><button>-->
<!--      <mat-icon>star_border</mat-icon>-->
<!--      <span>Orders</span></button><button>-->
<!--      <mat-icon>contact_support</mat-icon>-->
<!--      <span>Contact Us</span></button><button>quiz-->
<!--      <span>FAQ</span></button><button>-->
<!--      <mat-icon>exit_to_app</mat-icon>-->
<!--      <span>Logout</span></button>-->
<!--    </mat-menu>-->
<!--    <span>Clothes Shop</span><button mat-button="" routerlink="/logincrud">Login</button><button mat-button="" routerlink="/registration">-->
<!--      Registration</button><button mat-button="" routerlink="/menu">-->
<!--      Details of Suppliers</button>-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<!--<section class="hero is-info is-fullheight is-bold"><div class="hero-body"><div class="container"> </div></div></section>-->
<!--!doctype-->
<!--<app-dynamic-menu   [trigger]="'Trigger'"-->
<!--                    [data]="initialData"-->
<!--                    [isRootNode]="true"></app-dynamic-menu>-->
<!--<survey [model]="surveyModel"></survey>-->

<!--<nav mat-tab-nav-bar>-->
<!--  <a mat-tab-link-->
<!--     *ngFor="let link of navLinks"-->
<!--     [routerLink]="link.link"-->
<!--     routerLinkActive #rla="routerLinkActive"-->
<!--     [active]="rla.isActive">-->
<!--    {{link.label}}-->
<!--  </a>-->
<!--</nav>-->

<router-outlet></router-outlet>
<!--<survey [model]="surveyModel"></survey>-->
<!--<app-license-application></app-license-application>-->
