.map {
  width: 100%;
  min-height: 100vh;
  background-color: lightgray;
}
.leaflet-tooltip {
  border-color: #3399FF;
  border-width: 2px;
  background-color: lightgreen;
}
.map-title {
  padding-bottom: 10px;
}
