<form [formGroup]="passwordForm">

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap.gt-sm="5%">

    <div fxFlex="40%">
      <p>Use the form below to change your password.</p>

      <mat-form-field class="full-width">
        <input matInput placeholder="Current Password" formControlName="password" [type]="hideCurrentPassword ? 'password' : 'text'"
               autocomplete="current-password">
        <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
          {{hideCurrentPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form['password'].hasError('required')">
          Please enter a your current password
        </mat-error>
        <mat-error *ngIf="form['password'].getError('invalidPassword') as error">
          {{error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="New Password" formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form['newPassword'].hasError('required')">
          Please enter a new password
        </mat-error>
        <mat-error *ngIf="form['newPassword'].getError('passwordStrength') as error">
          {{error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" [type]="hideNewPassword ? 'password' : 'text'"
               autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form['confirmPassword'].hasError('required')">
          Please confirm your new password
        </mat-error>
        <mat-error *ngIf="form['confirmPassword'].getError('mustMatch') as error">
          {{error}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="passwordForm.invalid || disableSubmit" (click)="changePassword()">Save</button>

    </div>

    <div class="password-rules" fxFlex="50%">
      <p>Password rules:</p>
      <mat-list>
        <mat-list-item>
          Must be at least 6 characters
        </mat-list-item>

        <mat-list-item>
          Must contain at least one non alphanumeric character
        </mat-list-item>

        <mat-list-item>
          Must contain at least one lowercase ('a'-'z')
        </mat-list-item>

        <mat-list-item>
          Must contain at least one uppercase ('A'-'Z')
        </mat-list-item>
      </mat-list>
    </div>


  </div>

</form>
