.password-rules .mat-divider {
  position: unset !important;
  overflow: visible;
}
.container{
  padding-top: 20px;
}
.mdc-list-item {
  overflow-x: visible;
}
.mdc-list-item__primary-text {
  overflow: visible!important;
}
